<p id="notice"><%= notice %></p>

<h1>Agenda</h1>

<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora inicio</th>
      <th>Hora fin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agenda.each do |agendas| %>
      <tr>
        <td><%= agendas.fecha %></td>
        <td><%= agendas.hora_inicio %></td>
        <td><%= agendas.hora_fin %></td>
        <td><%= link_to 'Show', agendas %></td>
        <td><%= link_to 'Edit', edit_agendas_path(agendas) %></td>
        <td><%= link_to 'Destroy', agendas, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agendas', new_agendas_path %>
<hr>
<br>

<%= link_to 'Inicio', root_path %>