<p id="notice"><%= notice %></p>

<p>
  <strong>Cedula:</strong>
  <%= @administrador.cedula %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @administrador.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @administrador.apellido %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @administrador.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @administrador.direccion %>
</p>

<%= link_to 'Edit', edit_administrador_path(@administrador) %> |
<%= link_to 'Back', administradores_path %>
